<h3>Router</h3>

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/pag1/4" routerLinkActive="active">Page 1</a>
  <a routerLink="/pag2" routerLinkActive="active">Page 2</a>
  <a routerLink="/pag3" routerLinkActive="active">Page 3</a>
  <a routerLink="/pag4" routerLinkActive="active">Page 4</a>
  <a routerLink="/pag5" routerLinkActive="active">Page 5</a>
  <a routerLink="/pag6" routerLinkActive="active">Page 6</a>
  <a routerLink="/pag7" routerLinkActive="active">Page 7</a>
  <a routerLink="/pag8" routerLinkActive="active">Page 8</a>
  <a routerLink="/pag9" routerLinkActive="active">Page 9</a>
</nav>

<router-outlet></router-outlet>
<h4>Footer</h4>
